---
layout: default
---

<div class="intro">
  <section class="cd-intro">
    <h1 class="animated fadeInDown cd-headline letters type">
      <span>Hi! my name is Javier. I design</span>
       <span class="cd-words-wrapper waiting">
          <b class="is-visible">&amp; code.</b>
          <b>for food.</b>
          <b>experiences.</b>
          <b>interface.</b>
          <b>mobile apps.</b>
          <b>websites.</b>
       </span>
    </h1>
      <!-- <p class="animated fadeInDown">I’ve been designing &amp; coding for startups since 2010, my work has been featured in Fast Company, Business Insider and others. Take a look around and feel free to contact me if you want to work together. </p> -->
      <p class="animated fadeInDown">I work with startups, SMEs  and entrepreneur that understands the value of design since 2010, my work has been featured in various sites including Fast Company. Feel free to contact me if you want to work together. </p>
  </section>

  <ul class="social animated fadeInDown">
    <li class="twitter">{% include icon-twitter.html username=site.twitter_username %}</li>
    <li class="dribbble">{% include icon-dribbble.html username=site.dribbble_username %}</li>
    <li class="facebook">{% include icon-facebook.html username=site.facebook_username %}</li>
    <li class="github">{% include icon-github.html username=site.github_username %}</li>
    <li class="behance">{% include icon-behance.html username=site.behance_username %}</li>   
  </ul>
</div>

<!-- <div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div> -->
