/**
 * Image Replacement
 */
.ir {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

h1{
	font-size: 53px;
  font-weight: $bold-font-weight;
  letter-spacing: 1.5px;
  line-height: 60px;
  color: $text-color;
  max-width: $text-width;
  margin-bottom: 40px;
}

p{
	color: $text-second-color;
	font-weight: $regular-font-weight;
	font-size: $base-font-size;
	max-width: $text-width;
	margin-bottom: 50px;
}

.wrapper{
	.intro{
		padding: 142px 0 220px;
		h1{
	  	-webkit-animation-duration: 1s;
	  	-o-animation-duration: 1s;
	  	animation-duration: 1s;
	  	
	  	-webkit-animation-delay: 0.6s;
	  	-o-animation-delay: 0.6s;
	  	animation-delay: 0.6s;
		}
		p{
	  	-webkit-animation-duration: 1.4s;
	  	-o-animation-duration: 1.4s;
	  	animation-duration: 1.4s;
	  	
	  	-webkit-animation-delay: 0.9s;
	  	-o-animation-delay: 0.9s;
	  	animation-delay: 0.9s;
		}
	}
	.section{
		padding: 90px 0;
	}
}


.social{
	list-style: none;
	padding: 0;
	margin: 0;	
	@extend %clearfix;
			// Delay animation
	  	-webkit-animation-duration: 1.4s;
	  	-o-animation-duration: 1.4s;
	  	animation-duration: 1.4s;
	  	
	  	-webkit-animation-delay: 1.2s;
	  	-o-animation-delay: 1.2s;
	  	animation-delay: 1.2s;
	li{
		float: left;
		margin-right: 20px;
		a{
			-webkit-transition: color 0.3s;
			-o-transition: color 0.3s;
			transition: color 0.3s;
			color: $text-second-color;
			font-size: 14px;
			text-decoration: none;
			&:hover{
				color: $text-color;
			}			
			&:active{
				color: #FF2616;
			}
		}
	}
}

.notification{
	text-align: center;
	padding: 16px 0;
	background-color: #52A7C7;
	box-shadow: 0 2px 6px rgba(0,0,0,0.3);
	h3{
		margin: 0;
    font-size: 15px;
	}
}

// Animated 
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
